<div class="row">
  
  <div class="span8">
    <form class="well">
      <h3>Daily Status Report</h3>
      <div class="controls">
        <select class="span5" id="select01">
          <option>What's your Status?</option>
          <option>In Progress</option>
          <option>Complete</option>
          <option>Blocked</option>
          <option>Waiting/Need Info</option>
          <option>Out of the Office</option>
          <option>Michael Moen Special - Leave me Alone</option>                    
          <option>Add New</option>          
        </select>
      </div>
      
      <label>What are you working on?</label>
      <div class="controls">
        <textarea id="textarea" class="input-xlarge span5" rows="5" placeholder="Status Detail…"></textarea>
      </div>
      
      <label>Upload a File</label>
      <div class="controls">
        <input id="fileInput" class="input-file" type="file"></input>
      </div>
      
      <%= link_to "Submit", prototypes_path("show"), :class => "btn" %>
    </form>
  </div>