<h3 class="span8">Forgot Password</h3>

<div class="span8">
  <form class="form-horizontal well">
    <fieldset>
      
      <div class="control-group">
        <label class="control-label" for="input01">Email Address</label>
        <div class="controls">
          <input id="input01" class="input-xlarge" type="text"></input>
        </div>
      </div>
      
      
      <div class="form-actions">        
        <%= link_to "Submit", root_path, :class => "btn btn-primary" %>       
      </div>  
      
      <div class="controls">
        <%= link_to "Back to Login", prototypes_path("log_in") %>   
      </div>      
      
    </fieldset>
  </form>    
</div>
