<div class="alert alert-success span12">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h4 class="alert-heading">Success!</h4>
    You have successfully logged in. You can now start reporting your daily status. 
</div>


<%= render :partial => "ds_form" %>
  
<%= render :partial => "watchers" %>

