<h1>Hello People!</h1>

<div class="btn-group">
  <button class="btn">Status</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="">Working</a></li>
    <li class="divider"></li>
    <li><a href="">Slamming head on keyboard</a></li>
    <li class="divider"></li>    
    <li><a href="">Out of the Office</a></li>  
  </ul>
</div>

