<h3 class="span8">Project Name
  <a class="btn" href="#"><i class=icon-plus></i> Follow this Project</a>   
</h3>


<div class="row fluid">
  <div class="span8">  
    <form class="well"> 
      <h3>Recent Activity</h3>
    </form>  
  </div>
  <%= render :partial => "watchers" %>
</div>



