<h1>TODO</h1>

<ol>
  <li>Create flash messages</li>  
    <ul>
      <li>Successfully Logged In or something like that</li>
    </ul>
  <li>Set up register form</li>
  <li>Think about how I want the interactions to work</li>
  <li>Have submit comment button do something ?? - javascript</li>
  <li>DONE - Set up log in page</li>
  <li>DONE - Set up show page for individual status</li>    
</ol>