<h1>TODO</h1>

<ol>
  <li>Think about next step interactions</li>  
  <ul>
    <li>Comments Interaction</li>
    <li>Adding people page</li>      
    <li>Settings Page</li>  
    <li>People Page</li>
    <li>Dashboard Page</li>
    <li>Notifications Page</li>
  </ul>  
  <li>Add search to the top of the page</li>
  <li> Halfway Done - Create flash messages</li>  
    <ul>
      <li>Submit Comment success</li>
      <li>Watch this project success</li>      
    </ul>
  <li>Have submit comment button do something ?? - javascript</li>
  <li>DONE - Set up log in page</li>
  <li>DONE - Set up show page for individual status</li>  
  <li>DONE - Set up register form</li>    
</ol>