<h1>TODO</h1>

<ol>
  <li>Create flash messages</li>
  <li>Set up register page</li>
  <li>Set up log in page</li>
  <li>Set up show page for individual status</li>
  <li>Think about how I want the interaction to work</li>
  <li>Set up comments forms</li>
</ol>