<h2>Help</h2>

<div class="well">
  <p>Tutorial videos and Q&A will go here</p>
  <p>Why should I use Daily Status?</p>
  <p>- It will make your life a lot easier. You will no longer have to sit
    through long and boring meetings to get up to date. DAily Status allows
    you to keep in touch with your entire team without wasting time. </p>
</div>
