<div class="hero-unit">
  <h1>Daily Status</h1>
  <p>Keep your team up to date. No more searching endlessly 
    through emails or long documents to find the one section pertinent to you.
    No more meetings, or boring phone calls. Keep everyone on the same page, and 
    up to date with the newest information. 
  </p>
  <p>
    <%= link_to "Register Now", new_user_registration_path, :class => "btn btn-primary" %>
  </p>
</div> 
    
