<h3>All Posts</h3>

<div class="well">
  <ul class="posts">
    <% @posts.each do |post| %>
      <li>
        <h3><%= link_to post.status, post %></h3>
        <span>Created at <%= DateTime %></span>
      </li>      
    <% end %>
  </ul>
</div>

