body
  padding-top: 10px

body > header
  margin-bottom: 1em
  padding-bottom: 1em
  border-bottom: 1px solid #aaa
  h1 a:hover
    text-decoration: none

h3
  line-height: 33px
    
header nav li
  display: inline
  padding:  7px

//overwrites twitter bootstrap
.input-prepend .add-on
  margin-right: -5px
  
.form-search
  text-align: right

span
  font-style: italic
  font-size: 10px
  
.projects, .posts, .organizations
  margin: 0
  

  
li
  list-style: none
  
abbr[title]
  border-bottom: none
  
*
  margin: 0
  
html, body 
  height: 100%


.wrapper 
  min-height: 100%
  position: relative
  height: auto !important
  height: 100%
  margin: 0 auto -120px

.footer, .push
  height: 120px
  
.footer
  position: relative
  background: #eee
  
.footer ul
  padding: 20px
  
.footer li
  display: inline
  padding-right: 12px



  