body
  padding-top: 10px

body > header
  margin-bottom: 1em
  padding-bottom: 1em
  border-bottom: 1px solid #aaa
  h1 a:hover
    text-decoration: none
    

header nav li
  list-style:  none
  display: inline
  padding:  7px

//overwrites twitter bootstrap
.input-prepend .add-on
  margin-right: -5px
  
.form-search
  text-align: right

