
<header class="row">
  <h1><%= link_to "Daily Status", prototypes_path, :class => "span8" %></h1>
  
  <nav class="pull-right span4">
    <ul>
      <li><%= link_to "Log In", prototypes_path("log_in") %></li>
      <li><%= link_to "Register", prototypes_path("register") %></li>
    </ul>
  </nav>
</header>